@mixin flex($direction, $wrap) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: center;
  }
  
  @mixin scale($zoom) {
    transition: $transition;
    &:hover {
        cursor: pointer;
        transform: scale($zoom);
    }
  }

  .mat-h2{
    text-align: center;
  }

  $transition: 0.3s ease-in-out all;

.bt-cards {
    @include flex(row, wrap);
    justify-content: space-between;
    .mat-card {
        width: 18%;
        height: 200px;
        margin: 2% 0.5%;
        padding: 1%;
      img {
        width: 100%;
        height: 90%;
        margin: 0;
        transition: $transition;
        &:hover {
          @include scale(1.02);
        }
      }
    }
  }

 