@mixin flex($direction, $wrap) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: center;
}

.mat-h2{
  text-align: center;
}

$transition: 0.3s ease-in-out all;

.bt-cards {
  @include flex(row, wrap);
  justify-content: space-between;
  .mat-card {
      width: 18%;
      height: 250px;
      margin: 2% 0.5%;
      padding: 1%;

  }
}

@media (max-width: 1450px) {
  .bt-cards {
    .mat-card {
        width: 23%;
        margin: 2% auto;
    }
  }
}

@media (max-width: 1150px) {
  .bt-cards {
    .mat-card {
        width: 30%;
        margin: 2% auto;
    }
  }
}

@media (max-width: 720px) {
  .bt-cards {
    .mat-card {
        width: 40%;
        margin: 2% auto;
    }
  }
}

@media (max-width: 460px) {
  .bt-cards {
    .mat-card {
        width: 85%;
        margin: 2% auto;
    }
  }
}


/* # For Smartphone in landscape mode */

@media(max-height: 500px) {

}

 