<div class="container-ng">
  <h2 class="mat-h2">{{title}}</h2>
  <div class="bt-layout-center">
    <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="array_length"
    aria-label="Default pagination"></ngb-pagination>
  </div>
  <div class="bt-cards">
    <mat-card *ngFor="let cuisine of cuisine_array | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">

      <app-la-cuisine-component [cuisine]="cuisine"></app-la-cuisine-component>
      </mat-card>
      
    </div>
  </div>