<div class="container-ng">
  <h2 class="mat-h2">{{title}}</h2>
  <div class="bt-layout-center">
    <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="array_length"
    aria-label="Default pagination"></ngb-pagination>
  </div>
  <div class="bt-cards">
    <mat-card *ngFor="let cuisine of cuisine_array | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <img md-card-image src="{{cuisine.url}}" (click)="onImageClick(cuisine)">
      <mat-card-subtitle>{{getProperTitle(cuisine.title)}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="!rated_cuisine">
        <h3 class="mat-h3">Rating: {{rated_cuisine !== undefined ? rated_cuisine.rating*10 : 0 }}%</h3>
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="rated_cuisine">
        <h3 class="mat-h3"*ngIf="rated_cuisine">Rating: {{rated_cuisine.url == cuisine.url ? rated_cuisine.rating*10 : 0 }}% 
          {{getRatedBy(cuisine.url)}}</h3>
      </mat-card-subtitle>
      </mat-card>
    </div>
  </div>