<div class="container">
    <h2 class="mat-h2">Cuisine Detail</h2>
    <div class="cuisine-detail mat-elevation-z4">
        <h2 class="mat-h2">My Random image</h2>
        <div class="cuisine">
            <div class="cuisine-image mat-elevation-z1">
                <img src="https://farm8.staticflickr.com/7871/46359955664_949947d9cb.jpg" alt="Image not found">
            </div>
            <div class="cuisine-info">
                <div class="cuisine-info--basic">

                </div>
                <div class="cuisine-info--rating mat-elevation-z2">
                    <h2 class="mat-h2">Rating</h2>
                    <div [formGroup]="flickrFoodService.reviewForm">
                        <ngb-rating [(rate)]="currentRate">
                            <ng-template let-fill="fill" let-index="index">
                                <span class="star" [class.filled]="fill === 100"> &#9733; </span>
                            </ng-template>
                        </ngb-rating>
                        <mat-form-field class="input-field">
                            <input formControlName="user_name" matInput placeholder="Reviewer's name*">
                            <mat-error>Reviewer's name is mandatory.</mat-error>
                        </mat-form-field>
                        <mat-form-field class="input-field">
                            <input formControlName="reason" matInput placeholder="Reason for rating*">
                            <mat-error>Reason is required.</mat-error>
                        </mat-form-field>
                        <button mat-raised-button class="input-field" color="primary" type="submit" (click)="onRatingSave(flickrFoodService.reviewForm.value)"
                            [disabled]="flickrFoodService.reviewForm.invalid">Save</button>
                    </div>

                </div>
                <div></div>
            </div>
        </div>
    </div>
</div>