.container{
    height: 100vh;
    padding: 50px;
    & .cuisine-detail{
        margin: auto;
        width: 60%;
        height: 530px;
        background: white;
    }
    & .mat-h2{
        text-align: center;
        padding-top: 10px;
        font-weight: 600;
    }
}

.cuisine{
    display: flex;
    justify-content: center;
    & .cuisine-image{
        width: 36%;
        height: 100%;
        padding: 2%;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    & .cuisine-info{
        width: 56%;
        height: 100%;
        padding: 2%;

    }
}

.cuisine-info--basic{
    text-align: center;
}

.cuisine-info--rating{
    margin-left: 10%;
    margin-right: 10%;
    align-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    & .star {
        font-size: 1.5rem;
        color: #b0c4de;
      }
    & .filled {
        color: #ff1e1e;
      }
    & .input-field{
        width: 100%;
    }
}