/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.container-ng{
    background-color: #ededed;
}

.bt-layout-center{
    width: 100%;
    display: flex;
    justify-content: center;
  }